.mybutton {
    width: 150px
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: -2px;
  }


.summary {
    margin-left: 10px;
    margin-top: 5px;
}

.bin:hover {
        fill: rgb(146, 0, 0);
}